
:root {
  --primary-color: #f95950;
  --secondary-color: #FA2742;
  --dark-grey: #373833;
  --base-color: #E8EAE3;
  --visited-color:#4272b9;
  --white-color:white;
  --grid-background-color:lightgray;
  --svg-color-1:#edc655;
  --svg-color-2:#fcffad;
  --svg-color-3:#f76414;
  --svg-color-4:#f1e460;
  --svg-color-5:#4E0F27;
  --font-waight-h: 700;
}

body {
    
    /* the body colore */

    background-color: var(--base-color); /* The page background will be light brown */
    color: black; /* The page text will be white */

     
    font-family: 'Open+Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
  }
  
  h1 {
    font-size: 30px;
    font-weight: var(--font-waight-h);
  }
  
  h2 {
    font-size: 24px;
    font-weight: var(--font-waight-h);
  }
  
  h3 {
    font-size: 18px;
    font-weight: var(--font-waight-h);
  }

a:visited {
    /* visited link, suggested colors , cc6686,#ff4778  */
    color: var(--primary-color);
  }
a {
    color: var(--visited-color);
  }
  
 a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
a:active {
    /* selected link */
    color: var(--secondary-color);
  }

.button, button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    display: inline-block;
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
    transition-property: opacity;
  }
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--primary-color);
    color: var (var(--white-color));
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover,
button:focus,
.button:hover,
.button:focus  {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.7;
}
.button__secondary {
    background-color:  var(--dark-grey);
    color: var(--white-color);
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile {
  max-width: 700px;
  margin: 0 auto;

}
* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background: var(--dark-grey);
}

.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.header {
 
  background: var(--dark-grey);
  color: var(--white-color);
  font-size: 15px;
  font-family: 'Domine', sans-serif;
  font-weight: 400;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
  background-color: var(--grid-background-color);
  padding: 20px;
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.cls-31 {
  animation: 4s color-change infinite alternate linear;
}

@keyframes color-change {
  0% {
    fill: var(--svg-color-1) ;
  }
  50% {
    fill: var(--svg-color-2) ;
  }
  100% {
    fill: var(--svg-color-3);
  }
}
 .cls-3, .cls-4 { animation: 20s cloud-move infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, -160px);
  }
  to {
    transform: translate(200px, -160px);
  }
}


.cls-52, .cls-62, .cls-63 { animation: 20s cloud-move-reverse infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(146px, -160px);
  }
  to {
    transform: translate(-200px, -160px);
  }
}
.cls-52, .cls-62, .cls-63 { fill:var(--svg-color-4);} ;

.cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37 { animation: 20s gandola-move infinite alternate linear;
}

#gandola { animation: 20s gandola-move infinite alternate linear;
}

@keyframes gandola-move {
  from {
    transform: translate(16px, 0px);
  }
  to {
    transform: translate(500px, 0px);
  }
}
#gandola { fill: var(--svg-color-5);} ;
.cls-322, .cls-311 { fill: var(--svg-color-5);} ;
.contact-form {
  text-align: center;
  align-items: center;
  margin-left: 40px;
}